 Akil Bhuiyan

 Uploading and Processing Data and List Comprehension
 

For the first eight questions, use [cars-sample35.txt](https://drive.google.com/open?id=1BC1MIeucH1NPsdSEL0-dBgLm92S3exPOyo6JT7nc-7o). The seven distinct values represent attributes of a single type of automobile. Specifically we have the following:
- Price
- Maintenance cost
- Number of doors
- Number of passengers
- Luggage capacity
- Safety rating
- Classification of vehicle

## SSL Certificate Verify

In [19]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

## All Imports

In [20]:
import pandas as pd

## 1. Upload the data to github. Retrieve the data to python using Pandas and give it headers.

### Upload the data to GitHub

In [21]:
csvv = 'https://raw.githubusercontent.com/iakil/CSCI381_DataScience/main/Data/cars-sample35.csv'

### Read the csv data using Pandas and give it headers

In [22]:
headerr = ['Price', 'Maintenance cost',  'Number of doors','Number of passengers','Luggage capacity','Safety rating','Classification of vehicle']
df = pd.read_csv(csvv, names = headerr)

In [23]:
#print (df, sep='      TAB')
print (df.head(10)) # top 10 rows; default 5 rows

   Price Maintenance cost Number of doors Number of passengers  \
0   high             high               2                    4
1   high             high               4                 more
2   high             high               4                 more
3   high              low               2                 more
4  vhigh              low               3                    2
5    low             high               2                    2
6    med              med               4                 more
7    low              low               3                    2
8  vhigh              low               2                    2
9  vhigh             high               4                    4

  Luggage capacity Safety rating Classification of vehicle
0              med           low                     unacc
1            small          high                       acc
2              big           low                     unacc
3              big          high                       acc
4              med           med                     unacc
5            small           low                     unacc
6              med          high                     vgood
7              big           med                     unacc
8            small           low                     unacc
9              med           low                     unacc

## 2. Extract these seven attributes from each line of the file and create seven distinct Python list objects comprised solely of the values you extracted for a given attribute. In other words, you should have lists of prices, maintenance costs, number of doors, etc.

In [24]:
Price = [] 
MaintenanceCost = [] 
NumberOfDoors = [] 
NumberOfPassengers = [] 
LuggageCapacity = [] 
SafetyRating = [] 
ClassificationOfVehicle = [] 
arr = [Price, MaintenanceCost, NumberOfDoors, NumberOfPassengers, LuggageCapacity, SafetyRating, ClassificationOfVehicle]
def separateTolist(llist, col):
    for i in range (0,len(arr)):
        for j in range (0,len(df[col[i]])):
            llist[i].append (df[col[i]][j])      
separateTolist( arr, headerr)
for i in range (0,len(arr)):
    print (f"\n\n{headerr[i]} = {arr[i]} \n\n")

Price = ['high', 'high', 'high', 'high', 'vhigh', 'low', 'med', 'low', 'vhigh', 'vhigh', 'low', 'vhigh', 'high', 'low', 'high', 'vhigh', 'med', 'high', 'low', 'low', 'med', 'low', 'vhigh', 'med', 'low', 'vhigh', 'med', 'high', 'low', 'med', 'high', 'high', 'low', 'vhigh', 'high']




Maintenance cost = ['high', 'high', 'high', 'low', 'low', 'high', 'med', 'low', 'low', 'high', 'low', 'low', 'low', 'vhigh', 'low', 'high', 'med', 'low', 'low', 'low', 'high', 'low', 'high', 'vhigh', 'vhigh', 'low', 'vhigh', 'high', 'high', 'high', 'low', 'vhigh', 'low', 'vhigh', 'low']




Number of doors = ['2', '4', '4', '2', '3', '2', '4', '3', '2', '4', '2', '4', '2', '3', '5more', '2', '2', '5more', '3', '2', '4', '2', '5more', '2', '4', '3', '3', '3', '5more', '5more', '3', '5more', '5more', '4', '3']




Number of passengers = ['4', 'more', 'more', 'more', '2', '2', 'more', '2', '2', '4', '2', 'more', '4', 'more', '2', 'more', '2', '4', 'more', '2', '2', '2', '4', '2', '4', 'more', '4', '4', '2', '2', '4', '4', '2', '2', '2']




Luggage capacity = ['med', 'small', 'big', 'big', 'med', 'small', 'med', 'big', 'small', 'med', 'med', 'small', 'big', 'big', 'big', 'med', 'small', 'med', 'med', 'big', 'big', 'small', 'med', 'big', 'big', 'big', 'small', 'med', 'big', 'med', 'med', 'med', 'med', 'big', 'big']




Safety rating = ['low', 'high', 'low', 'high', 'med', 'low', 'high', 'med', 'low', 'low', 'med', 'high', 'med', 'low', 'med', 'high', 'low', 'high', 'high', 'med', 'high', 'high', 'med', 'low', 'low', 'low', 'low', 'med', 'low', 'med', 'high', 'med', 'low', 'high', 'high']




Classification of vehicle = ['unacc', 'acc', 'unacc', 'acc', 'unacc', 'unacc', 'vgood', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'vgood', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc']

## 3. *Find* the list index values of each automobile having a “price” rating of "med". Create a new list object with your result. HINT: you can accomplish this task by searching the list of price values you created earlier. Be sure to print your results.

In [25]:
indexVal = []
for i in range (0, len(df['Price'])):
  if df ['Luggage capacity'] [i] == 'med':
    indexVal.append(i)
print (indexVal)

[0, 4, 6, 9, 10, 15, 17, 18, 22, 27, 29, 30, 31, 32]

## 4. Find the "number of passengers" value for each auto having a "price" value of "med". Create a new list to store your findings and be sure to print your results.

In [26]:
indexVal = []
for i in range (0, len(df['Price'])):
  if df ['Luggage capacity'] [i] == 'med':
    indexVal.append(df['Number of passengers'][i])
print (indexVal)

['4', '2', 'more', '4', '2', 'more', '4', 'more', '4', '4', '2', '4', '4', '2']

## 5. Find the index value for each automobile having a “price” value of "high" and a “maintenance” value that is not "low". Create a new list to store your findings and be sure to print your results.

In [27]:
newList = []
for i in range (0, len (df['Price'])):
    if df['Price'][i] == 'high' and df['Maintenance cost'][i] != 'low': 
        newList.append(i)

print (newList)

[0, 1, 2, 27, 31]

## 6. Find the list index values of each automobile having a price rating of "med" using a list comprehension instead of a basic for or while loop. The list comprehension should create a new list containing your result. Be sure to print your results to the screen.

In [28]:
indexVal = [x for x in range (0,len(df['Price'])) if df ['Luggage capacity'][x] =='med'] # To retrive val use [col] [row]
print (indexVal)

[0, 4, 6, 9, 10, 15, 17, 18, 22, 27, 29, 30, 31, 32]

## 7. Find the "number of passengers" value for each auto having a "price" value of "med" using a list comprehension instead of a basic for or while loop. The list comprehension should create a new list containing your findings. Be sure to print your results to the screen.

In [29]:
indexVal = []
indexVal = [ df['Number of passengers'][i] for i in range (0, len(df['Price'])) if df ['Luggage capacity'] [i] == 'med']

print (indexVal)

['4', '2', 'more', '4', '2', 'more', '4', 'more', '4', '4', '2', '4', '4', '2']

## 8. Find the index value for each automobile having a price value of "high" and a maintenance value that is not "low" using a list comprehension. The list comprehension should create a new list containing your findings. Be sure to print your results to the screen.

In [30]:
newList = [i for i in range (0, len (df['Price']))  if df['Price'][i] == 'high' and df['Maintenance cost'][i] != 'low']

print (newList)

[0, 1, 2, 27, 31]

## Nested List Comprehension: 

<p> nlist = [ [1, 2, 3], ['A', 'B', 'C'], [4, 5], ['D', 'E'] ] </p>

In [31]:
nList = [ [1, 2, 3], ['A', 'B', 'C'], [4, 5], ['D', 'E'] ]

In [32]:
newList = [i for i in nList]  # copy nlist to newList
print (newList)

[[1, 2, 3], ['A', 'B', 'C'], [4, 5], ['D', 'E']]

In [33]:
newList = [j for i in nList for j in i] #Extract each elements and put it in a newList
print (newList)

[1, 2, 3, 'A', 'B', 'C', 4, 5, 'D', 'E']